= form_for @status, :url => {:controller => 'admins', :action => 'create'} do |f|
  -if @status.errors.any?
    .alert.alert-message.block-message.error
      %h3= "#{@status.errors.count} 件のエラーが発生したため、処理できませんでした。"
      %ul
        - @status.errors.full_messages.each do |msg|
          %li= msg

  .fieldset
    .status
      .row
        .span8.offset2
          %label 新しく登録する罵倒文を入力してください (140 文字まで)
          .input
            = f.text_area :text, :rows => 10

            .form-actions
              .input
                = f.submit '送信する', :class => 'btn btn-primary'

          %p.pull-left.pager
            = link_to "トップに戻る", root_path
          %p.pull-right.pager
            = link_to "すべての罵倒文を見る", statuses_path
