%table{:class => 'table table-bordered table-striped'}
  %thead
    %tr
      %th{:style => "width: 150px;"} 項目
      %th 内容
  %tbody
    %tr
      %td ID
      %td= @status.id
    %tr
      %td テキスト
      %td= @status.status
    %tr
      %td キーワード
      %td= @status.keyword
    %tr
      %td 操作
      %td= link_to 'この内容で罵倒する', "https://twitter.com/intent/tweet?text=#{@status.status}", :class => 'btn btn btn', :target => '_blank'
