= form_for @status do |f|
  -if @status.errors.any?
    .alert.alert-message.block-message.error
      %h3= "#{@status.errors.count} 件のエラーが発生したため、処理できませんでした。"
      %ul
        - @status.errors.full_messages.each do |msg|
          %li= msg

  .fieldset
    .status
      .row
        .span5
          %div{:id => "ac_form", :style => "clear:both;margin:5px"}
            %h3
              %a{:href => "#"} このサービスについて
            .clearfix
              %p
                %b
                  なにこれ
              %p
                誰でもみんな <a href="http://twitter.com/todesking" target="_blank">@todesking</a> を罵倒したい。そんな需要にこたえるサービスです。
              %p
                %b
                  罵倒とは
              %p
                <a href="http://togetter.com/li/50724" target="_blank">こちら</a>をご覧ください。

            %h3
              %a{:href => "#"} 操作方法
            .clearfix
              %p
                %b
                  罵倒対象文の入力
              %p
                テキストボックスに罵倒対象となるツイートまたはキーワードを入力するかコピー＆ペーストしてください。送信するをクリックすると適切な罵倒候補文一覧が表示されます。
              %p
                %b
                  罵倒する
              %p
                罵倒候補文一覧が表示されたらお好みの罵倒文を選び、罵倒をクリックするかお使いの Twitter クライアントに貼り付けてご利用ください。

        .span5.offset1
          %label 罵倒対象のツイートもしくはキーワードを入力してください
          .input
            = f.text_area :text, :rows => 5

            .form-actions
              .input
                = f.submit '送信する', :class => 'btn btn-primary'

          %p{:class=>"pull-right pager"}
            = link_to "すべての罵倒文を見る", statuses_path
