= form_for @status do |f|
  -if @status.errors.any?
    .alert.alert-message.block-message.error
      %h3= "#{@status.errors.count} 件のエラーが発生したため、処理できませんでした。"
      %ul
        - @status.errors.full_messages.each do |msg|
          %li= msg

  .fieldset
    .status
      .row
        .span5
          = render 'about'

        .span5.offset1
          %label 罵倒対象のツイートもしくはキーワードを入力してください
          .input
            = f.text_area :text, :rows => 5

            .form-actions
              .input
                = f.submit '送信する', :class => 'btn btn-primary'

          %p{:class=>"pull-right pager"}
            = link_to "すべての罵倒文を見る", statuses_path
