%div.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:class=>'brand',:href=>'http://id774.net'}
        id774.net
      %div.nav-collapse
        %ul.nav
          %li
            = link_to "Home", 'http://id774.net'
          %li
            = link_to "Blog", 'http://blog.id774.net/post/'
          %li
            = link_to "Tumblr", 'http://reblog.id774.net'
          %li
            = link_to "Twitter", 'https://twitter.com/twitt'
          %li
            = link_to "GitHub", 'https://github.com/id774'
